.btn-call-to-shop {
  font-size: 24px !important;
  border-radius: 6px !important;
  border: none !important;
  box-shadow: 10px 10px 0px black;
  background: #d01d59 !important;
  color: #fff !important;
  line-height: 1;
  padding: 20px 30px 15px;
  transition: 0.3s ease all;
}
