.disappear-animation {
  opacity: 0;
  transform: translateY(40px);
}

.appear-animation {
  opacity: 1;
  transform: translateY(0);
}

.appear-delay-3 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.28s,
    opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.38s;
}
