.header {
  min-height: calc(
    100vh - $navbar-brand-height - $navbar-padding-y - $nav-link-padding-y - $btn-padding-y
  );
}

.vertical-rl {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.vertical-lr {
  writing-mode: vertical-lr;
}

p {
  line-height: 0px;
}

.hero_text_wrapper {
  &:before {
    content: 'burgers';
    writing-mode: vertical-rl;
    position: absolute;
    bottom: 50%;
    left: -36px;
    margin: 0px;
    color: white;
    font-size: 6rem;
    font-weight: bold;

    z-index: 99;
  }
}
